---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - imagestreamimages
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - imagestreammappings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - imagestreams
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - imagestreams/layers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - imagestreamtags
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - imagetags
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - projects
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - ansibleee.openstack.org
  resources:
  - openstackansibleees
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - baremetal.openstack.org
  resources:
  - openstackbaremetalsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - baremetal.openstack.org
  resources:
  - openstackbaremetalsets/finalizers
  verbs:
  - update
- apiGroups:
  - baremetal.openstack.org
  resources:
  - openstackbaremetalsets/status
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - issuers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.openstack.org
  resources:
  - openstackversions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanedeployments
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanedeployments/finalizers
  verbs:
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanedeployments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanenodesets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanenodesets/finalizers
  verbs:
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanenodesets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneservices
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneservices/finalizers
  verbs:
  - update
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreamimages
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreammappings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreams
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreams/layers
  verbs:
  - get
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreamtags
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - imagetags
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - network.openstack.org
  resources:
  - dnsdata
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - network.openstack.org
  resources:
  - dnsdata/finalizers
  verbs:
  - update
- apiGroups:
  - network.openstack.org
  resources:
  - dnsdata/status
  verbs:
  - get
- apiGroups:
  - network.openstack.org
  resources:
  - dnsmasqs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - network.openstack.org
  resources:
  - dnsmasqs/status
  verbs:
  - get
- apiGroups:
  - network.openstack.org
  resources:
  - ipsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - network.openstack.org
  resources:
  - ipsets/finalizers
  verbs:
  - update
- apiGroups:
  - network.openstack.org
  resources:
  - ipsets/status
  verbs:
  - get
- apiGroups:
  - network.openstack.org
  resources:
  - netconfigs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - project.openshift.io
  resources:
  - projects
  verbs:
  - get
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - security.openshift.io
  resourceNames:
  - anyuid
  resources:
  - securitycontextconstraints
  verbs:
  - use
