---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ansibleee.openstack.org
  resources:
  - openstackansibleees
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanenodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanenodes
  - openstackdataplaneroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanenodes/finalizers
  verbs:
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanenodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneroles/finalizers
  verbs:
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneroles/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanes/finalizers
  verbs:
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplanes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneservices/finalizers
  verbs:
  - update
- apiGroups:
  - dataplane.openstack.org
  resources:
  - openstackdataplaneservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - nova.openstack.org
  resources:
  - novaexternalcomputes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
