---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: openstackdataplaneservices.dataplane.openstack.org
spec:
  group: dataplane.openstack.org
  names:
    kind: OpenStackDataPlaneService
    listKind: OpenStackDataPlaneServiceList
    plural: openstackdataplaneservices
    shortNames:
    - osdpservice
    - osdpservices
    singular: openstackdataplaneservice
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              configMaps:
                items:
                  type: string
                type: array
              label:
                maxLength: 53
                pattern: '[a-z]([-a-z0-9]*[a-z0-9])'
                type: string
              openStackAnsibleEERunnerImage:
                type: string
              play:
                type: string
              playbook:
                type: string
              secrets:
                items:
                  type: string
                type: array
              services:
                items:
                  properties:
                    name:
                      type: string
                    network:
                      default: CtlPlane
                      pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-_]*[a-zA-Z0-9]$
                      type: string
                    port:
                      type: integer
                    protocol:
                      default: http
                      type: string
                  required:
                  - name
                  - port
                  type: object
                type: array
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    severity:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
